.welcome-container {
  text-align: center;
  padding: 20px;
  /* margin-top: 100px; */
}

.container {
  text-align: center;
  padding: 20px;
}
.box-options {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  /* color: aqua;
   */
  /* background-color: aqua; */
}

.box-option {
  padding: 10px;
  width: 30%;
  background: rgb(76, 135, 243);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.box-option h3 {
  margin-top: 0;
}

.picture {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture img {
  width: 200px;
  height: auto;
}

.userprofile {
  width: 600px;
  max-width: 600px;
  background: rgb(76, 135, 243);
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: black;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column; /* Display items in a column */
  margin: 0 auto; /* Changed from margin: 0, auto; */
  padding: 40px;
  margin-top: 40px;
}

.userprofile h1 {
  text-align: center;
  color: darkblue;
}
.userprofile h2 {
  text-align: center;
  color: lightgreen;
}

.transfer-container {
  width: auto;
  max-width: 600px;
  background: rgb(76, 135, 243);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #fff;
  backdrop-filter: blur(30px);

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
  margin-top: 40px;
}

.transfer-container h1 {
  font-size: 36px;
  text-align: center;
  color: darkblue;
}

.transfer-container .transfer-input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.transfer-container .balance {
  color: blue;
  margin-bottom: 10px;
}

.transfer-input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16;
  color: #fff;
  padding: 20px;
  padding-right: 30px;
}

.transfer-input-box input::placeholder {
  color: #fff;
}

.transfer-container button {
  width: 100%;
  height: 45px;
  background: darkblue;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  align-items: center;
}

.transfer-container button:hover {
  background-color: cornflowerblue;
}

.edit-btn button {
  width: 200px;
  height: 45px;
  background: darkblue;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  align-items: center;
  margin-top: 20px;
}

.edit-btn button:hover {
  background-color: rgb(39, 59, 97);
}
